@{
    Layout = "";
}

<div id="sideColumn">
    <nav>
        <ul>
            <li>
                <a href="~/admin/Brand/Index">New Brand</a>
            </li>
            <li>
                <a href="~/admin/Brand/List">Brand List</a>
            </li>
        </ul>
    </nav>
</div>
