@{
    ViewBag.Title = "ThankYou";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<h1 style="color:blue">Thank You</h1>
    <br />
    <br />
    <a href="~/Home/Index" class="submit" >Click Continue </a>
    </center>
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br />