    
<!-- Content -->
<div id="content">
    <!-- New Mobile -->
    <div class="products-holder">
        <div class="top">
        </div>
        <div class="middle">
            <div class="label">
                <h3>New Mobile</h3>
            </div>
            <br>
            <div class="cl">
            </div>
            <div class="main">
                <div class="imges">

                    <ul class="ProductList">

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_0" href="ViewMobile.aspx?27">
                                <img id="ContentPlaceHolder1_ListView1_Img1_0" src="AdminPanel/ImageProduct/Mobile/A67.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_0">Micromax C</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_0">15000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl0$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_0" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_0">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl0$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_0" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_1" href="ViewMobile.aspx?26">
                                <img id="ContentPlaceHolder1_ListView1_Img1_1" src="AdminPanel/ImageProduct/Mobile/A62.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_1">Micromax C</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_1">15000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl1$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_1" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_1">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl1$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_1" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_2" href="ViewMobile.aspx?24">
                                <img id="ContentPlaceHolder1_ListView1_Img1_2" src="AdminPanel/ImageProduct/Mobile/grand2.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_2">Samsung Gr</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_2">28000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android 4.1.2
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl2$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_2" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_2">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl2$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_2" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_3" href="ViewMobile.aspx?13">
                                <img id="ContentPlaceHolder1_ListView1_Img1_3" src="AdminPanel/ImageProduct/Mobile/wlumia-1020.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_3">Nokia lumi</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_3">50000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            windows8
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl3$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_3" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_3">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl3$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_3" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_4" href="ViewMobile.aspx?12">
                                <img id="ContentPlaceHolder1_ListView1_Img1_4" src="AdminPanel/ImageProduct/Mobile/canvas%202.2.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_4">Canvas</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_4">15000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl4$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_4" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_4">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl4$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_4" style="height: 25px; width: 135px;"></a>
                        </li>

                    </ul>

                </div>
                <div class="numbers">
                </div>
            </div>
            <div class="cl">
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
    <!-- END New Mobile -->





     <!-- New Mobile -->
    <div class="products-holder">
        <div class="top">
        </div>
        <div class="middle">
            <div class="label">
                <h3>New Loaptop</h3>
            </div>
            <br>
            <div class="cl">
            </div>
            <div class="main">
                <div class="imges">

                    <ul class="ProductList">

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_0" href="ViewMobile.aspx?27">
                                <img id="ContentPlaceHolder1_ListView1_Img1_0" src="AdminPanel/ImageProduct/Mobile/A67.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_0">Micromax C</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_0">15000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl0$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_0" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_0">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl0$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_0" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_1" href="ViewMobile.aspx?26">
                                <img id="ContentPlaceHolder1_ListView1_Img1_1" src="AdminPanel/ImageProduct/Mobile/A62.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_1">Micromax C</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_1">15000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl1$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_1" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_1">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl1$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_1" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_2" href="ViewMobile.aspx?24">
                                <img id="ContentPlaceHolder1_ListView1_Img1_2" src="AdminPanel/ImageProduct/Mobile/grand2.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_2">Samsung Gr</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_2">28000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android 4.1.2
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl2$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_2" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_2">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl2$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_2" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_3" href="ViewMobile.aspx?13">
                                <img id="ContentPlaceHolder1_ListView1_Img1_3" src="AdminPanel/ImageProduct/Mobile/wlumia-1020.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_3">Nokia lumi</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_3">50000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            windows8
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl3$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_3" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_3">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl3$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_3" style="height: 25px; width: 135px;"></a>
                        </li>

                        <li>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink1_4" href="ViewMobile.aspx?12">
                                <img id="ContentPlaceHolder1_ListView1_Img1_4" src="AdminPanel/ImageProduct/Mobile/canvas%202.2.jpg" style="height: 175px; width: 150px;"></a>
                            <br>
                            <font color="red"><b>MODEL: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblModel_4">Canvas</span>
                            <br>
                            <font color="red" class="price"><b>Price in Rs.: </b></font>
                            <span id="ContentPlaceHolder1_ListView1_lblPrice_4">15000.00</span>
                            <br>
                            <font color="red"><b>O.S:</b></font>
                            Android
                                    <br>
                            <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl4$btn_Buy" value="Buy" id="ContentPlaceHolder1_ListView1_btn_Buy_4" style="height: 25px; width: 135px;"><br>
                            <a id="ContentPlaceHolder1_ListView1_HyperLink3_4">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$ListView1$ctrl4$btn_Addtocart" value="AddToCart" id="ContentPlaceHolder1_ListView1_btn_Addtocart_4" style="height: 25px; width: 135px;"></a>
                        </li>

                    </ul>

                </div>
                <div class="numbers">
                </div>
            </div>
            <div class="cl">
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
    <!-- END New Mobile -->



</div>

