@{
    Layout = "";
}

<div id="sideColumn">
    <nav>
        <ul>
            <li>
                <a href="~/admin/HomeSlider/Index">Add New Slider</a>
            </li>
            <li>
                <a href="~/admin/HomeSlider/List">Slider List</a>
            </li>
        </ul>
    </nav>
</div>
