@{
    Layout = "";
}

<div id="sideColumn">
    <nav>
        <ul>
            <li>
                <a href="~/admin/Category/Index">Add New Category</a>
            </li>
            <li>
                <a href="~/admin/Category/List">Category List</a>
            </li>
        </ul>
    </nav>
</div>
