@{
    Layout = "";
}

<div id="sideColumn">
    <nav>
        <ul>
            <li>
                <a href="~/admin/Product/Index">Add New Product</a>
            </li>
            <li>
                <a href="~/admin/Product/List">Product List</a>
            </li>
        </ul>
    </nav>
</div>
